#NodeJS
node_modules

#Envs
.env

#Build
build
dist

#Cypress
tests/cypress/videos
tests/cypress/screenshots
tests/cypress/downloads
tests/cypress/reports

#Playwright
tests/playwright/reports
tests/playwright/test-results
tests/playwright/.cache
playwright-report
test-results

#Contract Testing
tests/contract/logs
#K6 Performance Testing
tests/k6/reports
